<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vibe.remote2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_shadowlogo"
        android:label="@string/new_name"
        android:roundIcon="@mipmap/ic_shadowlogo"
        android:supportsRtl="true"
        android:theme="@style/Remote2Theme"

        tools:replace="android:label">
        <activity android:name=".MenuActivity"
            android:theme="@style/Remote2Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LEDControl"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Chameleon"
            android:theme="@android:style/Theme.Dialog" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".TestAuto"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".TestTwo"
            android:theme="@android:style/Theme.NoDisplay"/>
    </application>

</manifest>